contourpy
cycler
filelock
fonttools
fsspec
gurobi-machinelearning==1.5.6
gurobipy==13.0.2
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
munch
networkx
numpy
packaging
pandas
pao==1.0.2
parameterized
pillow
pyomo==6.10.0
pyparsing
python-dateutil
PyUtilib==6.0.0
PyYAML
scikit-learn
scipy
six
sympy
threadpoolctl
typing_extensions